footer
  .container
    .footer-columns
      .column
        .column-header Company
        ul.link-list
          li How Boxed Works
          li About Us
          li Boxed For Business
          li Join the Team
          li Be a Boxed Shopper
      .column
        .column-header Resources
        ul.link-list
          li Contact Us
          li Press Room
          li FAQ
          li Suggest Products
      .column
        .column-header Quick Links
        ul.link-list
          li Terms &amp; Conditions
          li Privacy Policy
          li Affiliates
          li Return Policy
      .column
        .column-header Social
        .column-header Download Our Apps
    .copyright © 2017 Boxed Wholesale. Don't Run Out.

