.boxed-main-header
  .container
    div.header-flex
      a.logo(href='/')
        img(src='/images/boxed-logo-white.svg' height='50px' width='120px')
      p(class='for-good') For Good
      a.btn-visit-boxed(href='https://www.boxed.com', rel='external', target='_blank') Visit Boxed