.container(class='boxed-main-header')
  div(class='mdl-layout mdl-js-layout mdl-layout--fixed-header' style='display: inline')
    a.navbar-brand(href='/')
      img(src='/images/boxed-logo-white.svg' height='50px' width='120px')
    ul.nav.navbar-nav
      li(class=(title == 'Home'))
        a(href='/') Home
      li
        a(href='/donate') Donate


