.container(class='boxed-main-header')
  div(class='mdl-layout mdl-js-layout mdl-layout--fixed-header' style='display: inline')
    a.navbar-brand(href='/')
      img(src='/images/boxed-logo-white.svg' height='50px' width='120px')
    p(class='for-good') For Good



