extends layout

block styles
  link(rel='stylesheet', href='/css/donate.css')

block scripts
  script(src='/js/donate.js')

block content
  #modal-sign-in-overlay.modal-sign-in-overlay
    #modal-sign-in.modal-sign-in
      .modal-title
        img.logo(src='/images/boxed-logo-white.svg')
        span.complete-donation Complete Your Donation
      .modal-body
        .input-group
          label(for='input-email-address') Email Address
          input#input-email-address(type='text')
        .input-group
          label(for='input-password') Password
          input#input-password(type='password')
        .or - OR -
        button#btn-facebook.btn-cta.btn-facebook
          | Continue with Facebook

  .masthead

  .container
    .header
      h1 What Would You Like to Give?

    .beneficiary-info
      | Bundles will be shipped directly to Housing and Services Inc.
      button.more-info More Info

    .bundle-choices
      .bundle(data-credits='$1', data-mouths='2')
        .price-badge
          .price $10
          .price-mo /mo
        img(src='/images/bundle-image.png', alt="Bundle 1")
        h2 Bundle 1
        h3 Feeds 2 hungry mouths
      .bundle(data-credits='$2', data-mouths='4')
        .price-badge
          .price $20
          .price-mo /mo
        img(src='/images/bundle-image.png', alt="Bundle 2")
        h2 Bundle 2
        h3 Feeds 4 hungry mouths
      .bundle(data-credits='$5', data-mouths='8')
        .price-badge
          .price $50
          .price-mo /mo
        img(src='/images/bundle-image.png', alt="Bundle 3")
        h2 Bundle 3
        h3 Feeds 8 hungry mouths
    
  .motivational-message
    .container
      span
        img(src='/images/flair.svg', alt='Flair', style='transform: rotate(180deg)')
      p
        // Will be filled in on the JS side.
      span
        img(src='/images/flair.svg', alt='Flair')
  
  .send-a-note
    .container
      form#form-donate(action='/donate/done')
        h1 Send A Note
        .input-note.input-group
          label(for='textarea-note') Send A Note to Housing and Services Inc
          textarea#textarea-note(placeholder='Type a note\u2026')
        button.btn-cta(type='submit')
          | Give Now
    .clear

  .endorsement
    .container
      .text-box
        p
          | "Thanks Boxed for delivering bulk-sized love
          br
          | to the community, it has helped us immensely."
        p.attribution
          | - Community Manager, Food Bank NYC
