extends layout

block styles
  link(rel='stylesheet', href='/css/donate-done.css')

block content
  .masthead

  .container
    .header
      h1 Thank You For Giving!
      p
        | A discount will be applied to
        br
        | your next order at Boxed.com.
      p Check your email for a confirmation.
  
  .share-section
    .container
      p Now that you've done your good deed for the day&hellip;
      button.btn-cta
        | Share with friends
  
  .beneficiary-info
    .container
      .text-box
        p.title About Housing and Services Inc.
        p.description We are a social enterprise focused on the needs
          | of people who have needs.
        button.btn-visit-website
          | Visit Website
