extends layout

block styles
  link(rel='stylesheet', href='/css/home.css')

block scripts
  script(src='/js/home.js')

block content
  .masthead
    div
      p(class='boxed-main-copy') Give More Today. 
      p(class='boxed-main-copy') The brand new Boxed initiative for you.
      form(action='#' role='search')
        div(class='search-field')
          input(class='form-input form-autocomplete' type='text' id='form-autcomplete' placeholder='Search Charities...' list='charities' onkeypress='return runScript(event)')
          i(id='search' class='fa fa-search fa-2x')
          datalist(id='charities')
            option(value='Housing and Services Inc')
            option(value='City Harvest')
            option(value='Foodbank NYC')

  div(class='beneficiaries')
    p(class='beneficiaries-header') Our Beneficiaries
      div(class='cards')

        div(class='card' id='card-1') Housing and Services Inc
          div(id='card-alt')
            p(class='alt-text') HSI is a nonprofit that has been working to end chronic homelessness and help those at risk of displacement through the operation and development of permanent supportive housing for over 30 years in NYC.
          img(src='/images/hsi-logo.png' alt='HSI' id='img' class='object-fit_contain')

        div(class='card' id='card-2') City Harvest <br/>
          div(id='card-alt')
            p(class='alt-text') City Harvest exists to end hunger in communities throughout New York City. We do this through food rescue and distribution, education, and other practical, innovative solutions.
          img(src='/images/city-harvest.svg' alt='CityHarvest' id='img' class='object-fit_contain')

        div(class='card' id='card-3') Food Bank New York City <br/>
          img(src='/images/foodbank.png' alt='FoodBank' id='img' class='object-fit_contain')
          div(id='card-alt')
            p(class='alt-text') Food Bank For New York City has been working to end food poverty in our five boroughs for more than 30 years. We employ a multifaceted approach centered on helping low-income New Yorkers overcome their circumstances and achieve greater independence.
        
      div(class='buttons')
        div
          button(class='mdl-button mdl-js-button mdl-button--raised mdl-button--colored donate-btn left-btn' id='donate') 
            a(class='no-link' href='/donate') Select
        div
          button(class='mdl-button mdl-js-button mdl-button--raised mdl-button--colored donate-btn' id='donate') 
            a(class='no-link' href='/donate') Select
        div
          button(class='mdl-button mdl-js-button mdl-button--raised mdl-button--colored donate-btn right-btn' id='donate') 
            a(class='no-link' href='/donate') Select


  div(class='how-it-works')
    p(class='hiw-header') How Boxed for Good Works
    .container
      div.step(class='step-1')
        img(src='/images/checkbox-checked.svg')
        p(class='step') Step 1.
        p(class='step') Select the charity you have an undying passion to donate to.
      div.step(class='step-2')      
        img(src='/images/credit-card.svg') 
        p(class='step') Step 2.
        p(class='step') Select one of our awesome bundles to donate to.
      div.step(class='step-3')      
        img(src='/images/gift.svg') 
        p(class='step') Step 3.
        p(class='step') And you is done, motherfucka.
