extends layout

block content

  
  .row
      h1 What is Boxed for Good?
      p(class='boxed-main-copy') A one-stop subscription service. 
      button(class='mdl-button mdl-js-button mdl-button--raised mdl-button--colored') Donate Today

