extends layout
block content  
      h1 What is Boxed for Good?
      p(class='boxed-main-copy') A one-stop subscription service where you can donate to a beneficiary of your choice, and Boxed will handle the rest of the giving process. 
      button(class='mdl-button mdl-js-button mdl-button--raised mdl-button--colored donate-btn') Donate Today

