extends layout

block content
  h1 Boxed For Good
  p.lead A way to 
  hr
  .row
    .col-sm-12
      h2 What is Boxed for Good?
      p Simply the best initiative ever.
      button(class='mdl-button mdl-js-button mdl-button--raised mdl-button--colored') Donate Today

