extends layout
block content  
      p(class='boxed-main-copy') Give More Today. 
      p(class='boxed-main-copy') The brand new Boxed initiative for you.
      form(action='#')
        div(class='mdl-textfield mdl-js-textfield search-field')
          input(class='mdl-textfield__input form-input' type='text' id='text1')
          label(class='mdl-textfield__label form-label' for='text1') Search Charities...

      div(class='beneficiaries')
        p(class='beneficiaries-header') Our Beneficiaries
           div(class='cards')
            div(class='card') Housing and Services Inc
              img(src='/images/hsi-logo.png' height='50%' width='65%')
              button(class='mdl-button mdl-js-button mdl-button--raised mdl-button--colored donate-btn')
                a(class='no-link' href='/donate') Donate
            div(class='card') City Harvest <br/>
              img(src='/images/city-harvest.svg' height='50%' width='65%')
              button(class='mdl-button mdl-js-button mdl-button--raised mdl-button--colored donate-btn') Donate
            div(class='card') Food Bank NYC
              img(src='/images/foodbank.png' height='50%' width='65%')
              button(class='mdl-button mdl-js-button mdl-button--raised mdl-button--colored donate-btn') Donate


      div(class='how-it-works')
        p(class='hiw-header') How Boxed for Good Works
        div(class='step-1')
          img(src='/images/checkbox-checked.svg' width='15%' height='15%') 
          p(class='step') Step 1.   
        div(class='step-2')      
          img(src='/images/credit-card.svg' width='15%' height='15%') 
          p(class='step') Step 2.       
        div(class='step-3')      
          img(src='/images/gift.svg' width='15%' height='15%') 
          p(class='step') Step 3. 
        br(style='clear: left')





