@import "themes/default/variables";

.masthead {
  background-image: url("/images/giving-min.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
  min-height: 600px;
}

.header {
  text-align: center;
  margin-top: 250px;

  h1 {
    color: white;
    font-size: 56px;
    margin: 16px 0;
  }
}

.beneficiary-info {
  background: $brand-pink;
  font-size: 16px;
  padding: 12px 16px;
  margin: 16px 0;
  color: white;
  // border: solid 1px #95989A;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.17);

  .more-info {
    float: right;
    background: none;
    border: solid 1px white;
    border-radius: 8px;
    text-transform: uppercase;
    padding: 4px 16px;
    margin: -4px;
    transition: all $animation-base-duration;

    &:hover {
      background: white;
      color: $brand-pink;
    }
  }
}

.bundle-choices {
  display: flex;

  .bundle {
    position: relative;
    flex: 1 1 auto;
    margin: 0 8px;
    padding: 16px;
    background-color: white;
    text-align: center;
    border: solid 1px #95989A;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.17);
    transition: background-color $animation-base-duration;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover, &.selected {
      background-color: $brand-yellow;
      cursor: pointer;
    }

    .price-badge {
      position: absolute;
      top: 16px;
      left: 16px;
      background-color: $brand-green;
      width: 84px;
      height: 84px;
      border-radius: 42px;
      display: flex;
      align-items: center;
      justify-content: center;

      .price, .price-mo {
        color: white;
      }

      .price {
        font-size: 32px;
      }
      
      .price-mo {
        position: absolute;
        top: 52px;
        right: 16px;
      }
    }

    img {
      margin: 16px;
      max-width: 80%;
    }

    h2 {
      margin: 8px 0;
      font-size: 44px;
      color: #6D6D6D;
    }

    h3 {
      margin: 8px 0;
      font-size: 18px;
      color: #6D6D6D;
    }
  }
}

.motivational-message {
  background: white;
  width: 100%;
  min-height: 200px;
  margin-top: -200px;
  padding-top: 200px;

  .container {
    text-align: center;
    color: $brand-green;

    p {
      margin: 48px;
      font-size: 24px;
      font-weight: bold;
      line-height: 32px;
    }
  }
}

.send-a-note {
  background-color: #EEEEEE;
  width: 100%;
  text-align: center;
  padding: 32px 0;

  h1 {
    text-transform: uppercase;
    color: #6D6D6D;
    font-weight: bold;
    margin: 16px 0;
  }

  .input-note {
    textarea {
      min-height: 128px;
    }
  }

  .clear {
    clear: both;
  }
}

.endorsement {
  background: url('/images/endorsement.jpg');
  background-size: cover;
  min-height: 821px;
  width: 100%;

  .container {
    position: relative;

    .text-box {
      position: absolute;
      right: 0;
      top: 32px;
      padding: 32px;
      background: rgba(0, 0, 0, 0.67);
      min-width: 50%;

      p {
        color: white;
        font-size: 28px;
        line-height: 36px;
      }

      p.attribution {
        text-align: right;
        margin-top: 64px;
      }
    }
  }
}

@keyframes modalShow {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.modal-sign-in-overlay {
  height: 100vh;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  align-items: center;
  justify-content: center;
  display: none;

  &.shown {
    display: flex;
    animation-duration: $animation-base-duration;
    animation-name: modalShow;
  }

  .modal-sign-in {
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
    min-width: 720px;

    .modal-title {
      background-color: $brand-green;
      width: 100%;
      border-radius: 16px 16px 0 0;
      color: white;
      padding: 16px 32px;

      .logo {
        width: 120px;
        height: auto;
      }

      .complete-donation {
        margin: 0 12px;
      }
    }

    .modal-body {
      padding: 16px 32px;
      text-align: center;

      .or {
        color: #95989A;
        font-weight: bold;
        font-size: 16px;
        margin: 24px 0;
      }

      .btn-facebook {
        background-color: #4267B2;
        border: none;
        border-radius: 28px;
        min-height: 56px;
        font-size: 24px;
        color: white;
        text-transform: uppercase;
        padding: 0 56px;
        line-height: 56px;
        font-weight: bold;
      }
    }
  }
}