.header {
  text-align: center; }
  .header h1 {
    color: white;
    font-size: 56px;
    margin: 16px 0; }

.beneficiary-info {
  background: #F54D87;
  font-size: 16px;
  padding: 12px 16px;
  margin: 16px 0;
  color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.17); }

.bundle-choices {
  display: flex; }
  .bundle-choices .bundle {
    position: relative;
    flex: 1 1 auto;
    margin: 0 8px;
    padding: 16px;
    background-color: white;
    text-align: center;
    border: solid 1px #95989A;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.17); }
    .bundle-choices .bundle:first-child {
      margin-left: 0; }
    .bundle-choices .bundle:last-child {
      margin-right: 0; }
    .bundle-choices .bundle:hover {
      background-color: #FFCA00;
      transition: background-color 0.5s;
      cursor: pointer; }
    .bundle-choices .bundle img {
      margin: 16px;
      max-width: 80%; }
    .bundle-choices .bundle h2 {
      margin: 8px 0;
      font-size: 44px;
      color: #6D6D6D; }
    .bundle-choices .bundle h3 {
      margin: 8px 0;
      font-size: 18px;
      color: #6D6D6D; }

.motivational-message {
  background: white;
  width: 100%;
  min-height: 200px;
  margin-top: -200px;
  padding-top: 200px; }
  .motivational-message .container {
    text-align: center;
    color: #00B9A5; }
    .motivational-message .container p {
      margin: 48px;
      font-size: 24px;
      font-weight: bold;
      line-height: 32px; }

.send-a-note {
  background-color: #EEEEEE;
  width: 100%;
  text-align: center;
  padding: 32px 0; }
  .send-a-note h1 {
    text-transform: uppercase;
    color: #6D6D6D;
    font-weight: bold;
    margin: 16px 0; }
  .send-a-note .input-note {
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.17);
    text-align: left;
    padding: 16px;
    margin: 32px 0; }
    .send-a-note .input-note label {
      font-size: 16px;
      font-weight: normal;
      color: #6D6D6D;
      display: block; }
    .send-a-note .input-note textarea {
      border: none;
      font-weight: lighter;
      width: 100%;
      min-height: 128px; }
  .send-a-note .btn-give-now {
    background-color: #00B9A5;
    border: none;
    border-radius: 48px;
    min-height: 96px;
    font-size: 48px;
    color: white;
    text-transform: uppercase;
    padding: 0 96px;
    font-weight: bold; }
  .send-a-note .clear {
    clear: both; }

.endorsement {
  background: url("/images/endorsement.jpg");
  background-size: cover;
  min-height: 821px;
  width: 100%; }
  .endorsement .container {
    position: relative; }
    .endorsement .container .text-box {
      position: absolute;
      right: 0;
      top: 32px;
      padding: 32px;
      background: rgba(0, 0, 0, 0.67);
      min-width: 50%; }
      .endorsement .container .text-box p {
        color: white;
        font-size: 28px;
        line-height: 36px; }
      .endorsement .container .text-box p.attribution {
        text-align: right;
        margin-top: 64px; }

.footer {
  background-color: #00B9A5;
  width: 100%; }
