.header {
  text-align: center; }
  .header h1 {
    color: white;
    font-size: 56px;
    margin: 16px 0; }

.beneficiary-info {
  background: #F54D87;
  font-size: 16px;
  padding: 12px 16px;
  margin: 16px 0;
  color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.17); }
  .beneficiary-info .more-info {
    float: right;
    background: none;
    border: solid 1px white;
    border-radius: 8px;
    text-transform: uppercase;
    padding: 4px 16px;
    margin: -4px;
    transition: all 0.5s; }
    .beneficiary-info .more-info:hover {
      background: white;
      color: #F54D87; }

.bundle-choices {
  display: flex; }
  .bundle-choices .bundle {
    position: relative;
    flex: 1 1 auto;
    margin: 0 8px;
    padding: 16px;
    background-color: white;
    text-align: center;
    border: solid 1px #95989A;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.17);
    transition: background-color 0.5s; }
    .bundle-choices .bundle:first-child {
      margin-left: 0; }
    .bundle-choices .bundle:last-child {
      margin-right: 0; }
    .bundle-choices .bundle:hover, .bundle-choices .bundle.selected {
      background-color: #FFCA00;
      cursor: pointer; }
    .bundle-choices .bundle .price-badge {
      position: absolute;
      top: 16px;
      left: 16px;
      background-color: #00B9A5;
      width: 84px;
      height: 84px;
      border-radius: 42px;
      display: flex;
      align-items: center;
      justify-content: center; }
      .bundle-choices .bundle .price-badge .price, .bundle-choices .bundle .price-badge .price-mo {
        color: white; }
      .bundle-choices .bundle .price-badge .price {
        font-size: 32px; }
      .bundle-choices .bundle .price-badge .price-mo {
        position: absolute;
        top: 52px;
        right: 16px; }
    .bundle-choices .bundle img {
      margin: 16px;
      max-width: 80%; }
    .bundle-choices .bundle h2 {
      margin: 8px 0;
      font-size: 44px;
      color: #6D6D6D; }
    .bundle-choices .bundle h3 {
      margin: 8px 0;
      font-size: 18px;
      color: #6D6D6D; }

.motivational-message {
  background: white;
  width: 100%;
  min-height: 200px;
  margin-top: -200px;
  padding-top: 200px; }
  .motivational-message .container {
    text-align: center;
    color: #00B9A5; }
    .motivational-message .container p {
      margin: 48px;
      font-size: 24px;
      font-weight: bold;
      line-height: 32px; }

.send-a-note {
  background-color: #EEEEEE;
  width: 100%;
  text-align: center;
  padding: 32px 0; }
  .send-a-note h1 {
    text-transform: uppercase;
    color: #6D6D6D;
    font-weight: bold;
    margin: 16px 0; }
  .send-a-note .input-note textarea {
    min-height: 128px; }
  .send-a-note .clear {
    clear: both; }

.endorsement {
  background: url("/images/endorsement.jpg");
  background-size: cover;
  min-height: 821px;
  width: 100%; }
  .endorsement .container {
    position: relative; }
    .endorsement .container .text-box {
      position: absolute;
      right: 0;
      top: 32px;
      padding: 32px;
      background: rgba(0, 0, 0, 0.67);
      min-width: 50%; }
      .endorsement .container .text-box p {
        color: white;
        font-size: 28px;
        line-height: 36px; }
      .endorsement .container .text-box p.attribution {
        text-align: right;
        margin-top: 64px; }

.footer {
  background-color: #00B9A5;
  width: 100%; }

@keyframes modalShow {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.modal-sign-in-overlay {
  height: 100vh;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  align-items: center;
  justify-content: center;
  display: none; }
  .modal-sign-in-overlay.shown {
    display: flex;
    animation-duration: 0.5s;
    animation-name: modalShow; }
  .modal-sign-in-overlay .modal-sign-in {
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
    min-width: 720px; }
    .modal-sign-in-overlay .modal-sign-in .modal-title {
      background-color: #00B9A5;
      width: 100%;
      border-radius: 16px 16px 0 0;
      color: white;
      padding: 16px 32px; }
      .modal-sign-in-overlay .modal-sign-in .modal-title .logo {
        width: 120px;
        height: auto; }
      .modal-sign-in-overlay .modal-sign-in .modal-title .complete-donation {
        margin: 0 12px; }
    .modal-sign-in-overlay .modal-sign-in .modal-body {
      padding: 16px 32px;
      text-align: center; }
      .modal-sign-in-overlay .modal-sign-in .modal-body .or {
        color: #95989A;
        font-weight: bold;
        font-size: 16px;
        margin: 24px 0; }
      .modal-sign-in-overlay .modal-sign-in .modal-body .btn-facebook {
        background-color: #4267B2;
        border: none;
        border-radius: 28px;
        min-height: 56px;
        font-size: 24px;
        color: white;
        text-transform: uppercase;
        padding: 0 56px;
        line-height: 56px;
        font-weight: bold; }
