.masthead {
  margin: 0;
  background-image: url("/images/giving-min.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  background-position: center center;
  padding: 110px 0;
  display: flex;
  align-items: center;
  justify-content: center; }

textarea {
  resize: vertical; }

.navbar-nav img {
  width: 30px;
  height: 30px;
  margin: -15px 15px -15px; }

.alert {
  margin-top: 20px; }

.thumbnail {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 5px #ccc, inset 0 0 0 #000; }

.fa {
  margin-right: 6px; }

.btn-cta {
  background-color: #00B9A5;
  border: none;
  border-radius: 48px;
  min-height: 96px;
  font-size: 48px;
  color: white;
  text-transform: uppercase;
  padding: 0 96px;
  line-height: 96px;
  font-weight: bold; }

.pull-left {
  float: left;
  color: white; }

p.step {
  color: white;
  font-size: 16px;
  text-align: initial; }

p.boxed-main-copy, .form-input, .form-label, p.beneficiaries-header, p.hiw-header, p.step {
  text-align: center;
  color: white;
  font-family: sofia-pro, sans-serif;
  font-weight: 100;
  font-style: normal; }

p.boxed-main-copy, p.beneficiaries-header, p.hiw-header {
  font-size: 24px; }

p.beneficiaries-header {
  color: black;
  padding-top: 45px; }

p.hiw-header {
  padding-top: 40px; }

.form-input {
  background-color: white;
  border-color: transparent;
  border-radius: 3px;
  color: gray; }

.form-label {
  color: gray;
  margin-left: 10px; }

.beneficiaries {
  background-color: white;
  height: 400px;
  width: 100%; }

.how-it-works {
  background-color: #00B9A5;
  height: 300px;
  width: 100%; }

.search-field {
  margin: 0 auto;
  display: table; }

.step-1, .step-2, .step-3 {
  display: inline-block;
  float: left;
  width: 33%;
  padding-left: 120px;
  padding-top: 10px; }

p.step {
  color: white;
  font-size: 16px;
  text-align: initial;
  justify-content: center; }

.card {
  border: solid 1px #d3d3d3;
  border-radius: 2px;
  width: 25%;
  display: inline-block;
  height: 200px;
  text-align: center;
  padding-top: 15px;
  padding-right: 10px;
  vertical-align: middle;
  margin: 30px; }

.card:hover {
  background-color: #FFCA00;
  transition: background-color 0.5s;
  cursor: pointer; }
  .card:hover #card-alt {
    display: block; }

.card:hover #img {
  display: none; }

.card:hover #donate {
  display: none; }

.card img {
  padding-top: 15px;
  height: 50%;
  width: 65%; }

.cards, .buttons {
  width: 100%;
  text-align: center; }

.buttons {
  display: flex; }

#card-alt {
  display: none;
  text-align: center;
  padding-top: 4px; }

.donate-btn, .alt-text {
  font-family: sofia-pro, sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 14px;
  border-radius: 4px;
  margin-left: 130px;
  margin-right: 130px; }

.alt-text {
  font-size: 12px;
  margin: 8px; }

.no-link, a:hover {
  text-decoration: none;
  color: white; }
