@import "themes/default/variables";

@import "lib/bootstrap/bootstrap";
@import "lib/font-awesome/font-awesome";

@import "themes/default/default";

// Scaffolding
// -------------------------

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
  background-image: url("/images/giving-min.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  background-position:center;
  padding-top: 60px;
  margin-bottom: 75px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;

  p, ul {
    margin-bottom: 0;
  }
}

// Input Fields
// -------------------------

textarea {
  resize: vertical;
}

.input-group {
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.17);
  text-align: left;
  padding: 16px;
  margin: 32px 0;
  width: 100%;

  label {
    font-size: 16px;
    font-weight: normal;
    color: #6D6D6D;
    display: block;
  }

  input, textarea {
    border: none;
    font-weight: lighter;
    width: 100%;
  }
}

// Navbar
// -------------------------

.navbar-nav img {
  width: 30px;
  height: 30px;
  margin: -15px 15px -15px;
}

// Alerts
// -------------------------

.alert {
  margin-top: 20px;
}

// Thumbnails
// -------------------------

.thumbnail {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
}

// Font Icons
// -------------------------

.fa {
  margin-right: 6px;
}

// Buttons
// -------------------------

.btn-cta {
  background-color: $brand-green;
  border: none;
  border-radius: 48px;
  min-height: 96px;
  font-size: 48px;
  color: white;
  text-transform: uppercase;
  padding: 0 96px;
  line-height: 96px;
  font-weight: bold;
}

.pull-left {
  float: left;
  color: white;
}

p.step {
  color: white;
  font-size: 16px;
  text-align: initial;
}

p.boxed-main-copy, .form-input, .form-label, p.beneficiaries-header, p.hiw-header, p.step {  
  text-align: center;  
  color: white;  
  font-family: sofia-pro, sans-serif;
  font-weight: 100;  
  font-style: normal;
}

p.boxed-main-copy, p.beneficiaries-header, p.hiw-header {  
  font-size: 24px;
}
p.beneficiaries-header {  
  color: black;
  padding-top: 45px;
}

p.hiw-header {  
  padding-top: 40px;
}

.form-input {  
  background-color: white;  
  border-color: transparent;  
  border-radius: 3px;  
  color: gray;
}

.form-label {  
  color: gray;
  margin-left: 10px;
}

.beneficiaries {  
  background-color: white;  
  height: 400px;
  z-index: 999;  
  position: absolute;  
  width: 100%;  
  left: 0;
  top: 500px;
}

.how-it-works {  
  background-color: #00B9A5;  height: 300px;  z-index: 999;  position: absolute;  width: 100%;  left: 0; top: 900px;
}

.search-field {
  margin: 0 auto;
  display: table;
}

.step-1, .step-2, .step-3 {
  display: inline-block;
  float: left;
  width: 33%;
  padding-left: 120px;
  padding-top: 10px;
}

 p.step {
   color: white;
   font-size: 16px;
  text-align: initial;
  justify-content: center;
}

.card {
  border: solid 1px #d3d3d3;
  border-radius: 2px;
  width: 25%;
  display: inline-block;
  height: 200px;
  text-align: center;
  padding-top: 15px;
  padding-right: 10px;
  vertical-align: middle;
  margin: 30px;

}

.card:hover {
  background-color: #FFCA00;
  transition: background-color 0.5s;
  cursor: pointer;
    #card-alt {
      display: block;
    }
  }

.card:hover #img {
  display: none;
}
.card:hover #donate {
  display: none;
}

.card img {
  padding-top: 15px;
  height: 50%;
  width: 65%;
}

.cards, .buttons {
  width: 100%;
  text-align: center;
}


#card-alt {
  display: none;
  text-align: center;
  padding-top: 4px;
}

.donate-btn, .alt-text {
  font-family: sofia-pro, sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 14px;
  border-radius: 4px;
 
}

.donate-btn {
   float: left;
   width: 10%;
   margin-left: 135px;
   margin-right: 120px;

}



.alt-text {
  font-size: 12px;
  margin: 8px;
}

.no-link, a:hover {
  text-decoration: none;
  color: white;
}
